<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Add Page</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Create Transport:</h1>
          
      <form th:action="@{/addTransport}" th:object="${transport}" method="POST">
         
         Name:
         <input type="text" th:field="*{name}" />    
         <br/>
         Seats:
         <input type="number" th:field="*{seats}" />     
         <br/>
         <input type="submit" value="Create" />
      </form>
       
      <br/>
       
      <!-- Check if errorMessage is not null and not empty -->
       
      <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         ...
      </div>
      
      <form>
      <button formaction="index.html">Home</button>
      </form>
       
   </body>
</html>