<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Add Page</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Create Weather item:</h1>
          
      <form th:action="@{/addWeather}" th:object="${weather}" method="POST">
         
         <table>
             <tr>
                 <td>
                     Date:
                 </td>
                 <td>
                     <input type="date" th:field="*{date}" />
                 </td>
             </tr>
             <tr>
                 <td>
                     Temperature:
                 </td>
                 <td>
                     <input type="number" step="0.1" th:field="*{temp}" />  
                 </td>
             </tr>
         </table>
         <br/>
         <input type="submit" value="Create" />
      </form>
       
      <br/>
       
      <!-- Check if errorMessage is not null and not empty -->
       
      <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         ...
      </div>
      
      <form>
      <button formaction="index.html">Home</button>
      </form>
       
   </body>
</html>