<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Delete Page</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Delete City:</h1>
          
      <form th:action="@{/delCity}" th:object="${city}" method="POST">
         
         city ID:
         <input type="number" th:field="*{id}" />    
         <br/>
         <input type="submit" value="Delete" />
      </form>
       
      <br/>
       
   </body>
</html>