<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Delete Page</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Delete Rest:</h1>
          
      <form th:action="@{/delRest}" th:object="${rest}" method="POST">
      
      <table>
             <tr>
                 <td>
                     Rest ID:
                 </td>
                 <td>
                     <input type="number" th:field="*{id}" /> 
                 </td>
             </tr>
      </table>
      <br/>
         <input type="submit" value="Delete" />
      </form>
      <br/>
      <form>
         <button formaction="index.html">Home</button>
      </form>
       
      <br/>
       
   </body>
</html>