<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Transport</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    
    <body>
        <h2>List of Transport</h2>

        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Seats</th>
            </tr>
            
            <tr th:each="transport : ${transport}">
                <td th:text="${transport.id}">Id</td>
                <td th:text="${transport.name}">Name</td>
                <td th:text="${transport.seats}">Seats</td>
            </tr>
        </table>
                
        <form>
            <button formaction="index.html">Home</button>
        </form>

    </body>
</html>