<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Weather</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    
    <body>
        <h2>List of Weather</h2>

        <table>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Temperature</th>
            </tr>
            
            <tr th:each="item : ${weatherList}">
                <td th:text="${item.id}">Id</td>
                <td th:text="${item.date}">Date</td>
                <td th:text="${item.temp}">Temperature</td>
            </tr>
        </table>
                
        <form>
            <button formaction="index.html">Home</button>
        </form>
    </body>
</html>